.container {
  display: flex;
  flex-wrap: wrap;
  padding: 28px;

  & > * {
    margin: 20px;
  }
}

.containerInner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: min-content;
}

.stats {
  display: flex;
  flex-basis: 100%;
  gap: 12px;
}

.wins {
  display: flex;
  flex-basis: 40%;
  gap: 12px;
  height: min-content;
}

.log {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 100%;
  min-width: 200px;
  border: 1px solid black;

  max-height: 300px;
  overflow-y: scroll;
}

.board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  max-width: 50vw;
  flex-basis: 50%;
}

.overlay {
  position: absolute;
  font-size: 30px;
  color: white;
  text-shadow: blue 1px 0 3px;
  cursor: pointer;
  z-index: 10;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px) brightness(60%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  aspect-ratio: 1/1;
  flex-basis: 33.3333%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  container-type: inline-size;

  transition: all 0.3s;
  border: 1px solid black;

  & > * {
    width: 100%;
    font-size: 80cqw;
    text-align: center;
    margin-top: -10%;
  }
}

.highlighted {
  background-color: green;
}
